@use '../../../styles/globalStyles.scss';

.clientInfoContainer {
  margin-top: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.headerTitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 15px;
  color: #363636;
  font-style: Bold;
  line-height: 100%;
  letter-spacing: 0%;
}

.tableContainer {
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.table {
  min-width: 650px;
}

.tableHead {
  background-color: #f1f7f4;
}

.tableHeaderMain {
  background-color: #ffffff;
}

.tableHeaderTitle {
  font-weight: 500;
  font-size: 12px;
  color: #363636;
  padding: 7px 6px;
  line-height: 100%;
  letter-spacing: 0%;
  font-style: Medium;
}

.headerWithTooltip {
  display: flex;
  align-items: center;
  gap: 2px;
}

.infoIcon {
  color: #6b7280;
  padding: 1px;
  transition: color 0.2s ease;

  &:hover {
    color: #00796b;
  }
}

.tableHeaderRow {
  background-color: #f1f7f4;

  th {
    font-weight: 500;
    font-size: 10px;
    color: #363636;
    padding: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    font-style: Medium;
  }
}

.tableRow {
  border-bottom: 1px solid #e8e8e8;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #fafafa;
  }

  &:last-child {
    border-bottom: none;
  }
}

.evenRow {
  background-color: #ffffff;
}

.oddRow {
  background-color: #f4f4f4;
}

.tableCell {
  color: #1a1a1a;
  font-weight: 400;
  font-style: Regular;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  &.inactive {
    color: #999;
  }
}

.statusWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.headerDivider {
  border: none;
  border-top: 1px solid #dfdfdf;
  margin-top: 8px;
  margin-bottom: 2px;
  width: 100%;
  width: calc(100% + 48px);
  margin-left: -24px;
  margin-right: -24px;
}

.statusDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;

  &.active {
    background-color: #109316;
  }

  &.inactive {
    background-color: #d43a35;
  }
}
