@use '../../styles/globalStyles.scss' as globalStyles;


.wrap {
    display: flex;

}

.kpileftcontainer {
    width: 70%;
}

.kpiContainer {
    width: 100%;
    padding: 0px 20px 0px 10px;
    overflow-x: hidden;
    height: 100vh;
}

.header {
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 0px 10px;
}

.title {
    font-weight: 700;
    color: #363636;
    font-weight: bold;
    font-size: 14px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 25px;
}

.actionItem {
    display: flex;
    align-items: center;
    gap: 6px;

}

.actionText {
    color: #008000;
    font-weight: 600;
    cursor: pointer;
    font-size: 12px;
}

.kpiBox {
    width: 99%;
    border-radius: 8px;
    margin: 10px 10px;
    padding: 10px 15px 10px 15px;
    display: flex;
    flex-direction: column;
    text-align: start;
    background-color: #F7F6F5;
}

.topRow,
.bottomRow {
    display: flex;
    justify-content: space-between;
    //  grid-template-columns: repeat(4, 1fr); 
    // gap: 50px;
    // margin-top: 8px;
    // margin-left: -52px;
}


.trendContainer {
    display: flex;
    align-items: center;
}

.metricHeader {
    display: flex;
    align-items: center;
}

.metricTitle {
    color: #444;
    font-size: 11px;
    font-weight: 500;
}

.infoIcon {
    font-size: 16px;
    color: #888;
}

.metricValue {
    font-size: 16px;
    font-weight: 700;
    color: #111;
    margin-top: 4px;
}

.metricSub {
    color: #666;
    font-size: 10px;
}

.trendUp {
    color: #28a745;
    display: flex;
    align-items: center;
    font-size: 9px;
}

.trendDown {
    color: #d9534f;
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 10px;
    margin-top: 3px;
}

.badge {
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 11px;
    font-weight: 600;
}

.yellow {
    background: #fff3cd;
    color: #856404;
}

.green {
    background: #d4edda;
    color: #155724;
}

.lightGreen {
    background: #e9f7ef;
    color: #1e7e34;
}

.divider {
    margin: 12px 0;
    border-color: #e0e0e0;
}

.TrendsTitle {
    font-weight: 700;
    color: #363636;
    font-weight: bold;
    font-size: 14px;
    margin: 0px 0px 10px 10px;
}

@media (min-width: 1600px) and (max-width: 1706px) {
    .kpiContainer {
        width: 100% !important;
        //    background-color: #008000;
    }
}