@use '../../styles/globalStyles.scss' as globalStyles;

.trendComponent {
    // padding: 16px 0px 16px 16px;
    background-color: #F7F6F5;
    border-radius: 8px;
    margin: 0px 0px 0px 10px;
    width: 99%;

    // .card {
    //     width: 100%;
    //     padding: 15px 20px;
    //     border-radius: 10px;
    //     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    //     background-color: #fff;
    // }

}